@media (max-width:641px) {
    container {
        width: 95vw;
    }

    .hero-section {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .hero {
        height: 100vh;
    }

    nav {
        display: none;
        /* FIX: Fix accordian menu */
    }

    .video-section {
        height: 47vw;
    }

    .video-background {
        height: 40vw;
    }

}

@media (max-width:871px) {

    column,
    column40,
    column60 {
        width: 100%;
    }
}
