@media (max-width:641px) {
    container {
        width: 95vw;
    }

    nav {
        display: none;
        /* TODO: Fix accordian menu */
    }

    .video-background {
        height: 40vw;
    }

}
