@media (max-width:641px) {
    container {
        width: 95vw;
    }

    .hero-section {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .hero {
        height: 100vh;
    }

    nav {
        display: none;
        /* TODO: Fix accordian menu */
    }

    .video-background {
        height: 40vw;
    }

}

@media (max-width:871px) {
    column {
        width: 100%;
    }
}
