:root {
    --gold: #e1b608;
    --blue: #1b3a47;
    --lightblue: #829ca7;
    --red: #4d1220;
}

html {
    /* NOTE: This may not work in all browsers */
    scroll-behavior: smooth;
}

body {
    background-color: var(--blue);
    margin: 0;
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}

.gloock {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
}

h2,
h3 {
    margin: 15px 0;
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    margin: 10px 0;
    font-size: 1.7rem;
}

.fancy {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 0.6;
    text-align: center;
    overflow: hidden;
}

.fancy span {
    display: inline-block;
    position: relative;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    bottom: 3px;
    width: 100vw;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

hr {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    width: 60%;
    margin: 40px auto 0px auto;
    overflow: visible;
    border: none;
    border-top: 4px double var(--gold);
    color: var(--gold);
    text-align: center;
}

hr:after {
    content: '\f004';
    display: inline-block;
    position: relative;
    top: -0.5em;
    font-size: 1.5em;
}

section {
    background-color: var(--red);
    color: var(--gold);
    margin: 0;
}

.alt-section {
    background-color: var(--blue);
}

.card-section {
    background-color: transparent;
    padding: 7vw;
}

.card {
    width: 90%;
    padding: 5%;
    background-color: var(--blue);
    color: var(--lightblue);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.double-border {
    position: relative;
    border-radius: 15px;
    outline: 1px solid;
    outline-offset: -9px;
    padding: 25px;
}

.double-border:after {
    content: "";
    top: 13px;
    left: 13px;
    right: 13px;
    bottom: 13px;
    border: 1px solid;
    border-radius: 4px;
    position: absolute;
}

container {
    display: block;
    width: 70vw;
    margin: 0px auto;
    padding: 30px 0;
}

row:after {
    content: "";
    display: table;
    clear: both;
}

column {
    float: left;
    width: 48%;
    padding: 1%;
}

column33 {
    float: left;
    width: 31%;
    padding: 1%;
}

column40 {
    float: left;
    width: 38%;
    padding: 1%;
}

column60 {
    float: left;
    width: 58%;
    padding: 1%;
}

nav {
    width: 100%;
    height: 7vh;
    min-height: 60px;
    background-color: var(--blue);
    position: sticky;
    top: 0;
    z-index: 99;
}

nav a {
    display: inline-block;
    width: 16%;
    /* TODO: Fill width correctly */
    text-align: center;
    text-decoration: none;
    color: var(--lightblue);
    font-size: 1.2rem;
    line-height: 7vh;
    vertical-align: middle;
    transition: 0.3s;
}

nav a:hover {
    color: var(--gold);
    transition: 0.3s;
}

.scroll-down {
    display: block;
    position: absolute;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    bottom: 25px;
    color: var(--gold);
    text-shadow: 0px 4px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.scroll-down:hover {
    font-size: 3.2rem;
    bottom: 22px;
    transition: 0.3s;
}

.image-cc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 93vh;
}

.hero {
    position: fixed;
    z-index: -1;
    background-image: url("../images/couple.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.hero-section img {
    position: absolute;
    display: block;
    min-width: 350px;
    max-width: 650px;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.overlay {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: var(--red);
    opacity: 0.4;
}

.video-section {
    position: relative;
    color: white;
    height: 34vh;
    background-color: var(--blue);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 30vh;
    overflow: hidden;
}

.video-background iframe {
    margin-top: -15%;
    width: 100vw;
    height: 68vw;
    pointer-events: none;
}

.video-content {
    width: 100vw;
    /* TODO: Fix relativity */
    padding: 3rem 0;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rsvp container {
    width: 70vw;
    max-width: 500px;
    text-align: center;
}

form {
    margin: 25px 0;
}

button {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-weight: 700;
    font-size: 0.9rem;
    border: 3px solid var(--gold);
    color: var(--gold);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gold);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

button:hover::before {
    transform: translateX(0);
}

button:active {
    transform: translate(0px, 2px);
    transition-duration: .01s;
}

.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #bfb59f;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--gold);
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #d7a016;
    pointer-events: none;
    transition: .5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    left: 0;
    font-size: 12px;
}

.radio-group {
    text-align: left;
    margin: 0 0 20px 0;
}

.radio-checkbox input {
    visibility: hidden;
    display: none;
}

.radio-checkbox *,
.radio-checkbox ::after,
.radio-checkbox ::before {
    box-sizing: border-box;
}

.radio-checkbox {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 7px 0 7px 15%;
}

.radio-checkbox .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
}

.radio-checkbox .label svg {
    vertical-align: middle;
}

.radio-checkbox .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s all;
}

.radio-checkbox .check:checked+label svg g path {
    stroke-dashoffset: 0;
}

.footer {
    text-align: center;
}
